<section class="callout bg-[[+alignment]]" style="background-image:url('assets/media/[[+background-image]]')">
	<div class="container-fluid wrap">
		<div class="row">
			<div class="col-xs-12 col-sm-6">
				[[+content]]
			</div>
		</div>
	</div>
</section>