<section class="contact-row no-guter">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 ">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-sm-push-6 form-container teal ">
                            <div class="form container-fluid">
                              [[$contact-form-php]]
                              </div>
                                    
                        </div>
                        <div class="col-xs-12 col-sm-6 col-sm-pull-6">
                          <div class="map-contain">
                            <div class="map-overlay"></div>
                            <div id="map" class="map"></div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>