
        <script src="resources/js/production.min.js"></script>
        <!-- Facebook Sharing -->
        <script>
        (function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6&appId=408430689261006";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));

			$(function() {
				Grid.init();
			});
			$(".fancybox").fancybox();
        </script>
        <script>
        	
            var address1 = '[[#1.tv.street]] [[#1.tv.city]]';

            var address2 = '5525 mills civic parkway, suite 125 West Des Moines, IA 50266';

            var bounds = new google.maps.LatLngBounds();

            var styles = [{"featureType":"landscape.man_made","elementType":"geometry.fill","stylers":[{"saturation":"0"},{"lightness":"0"},{"color":"#e6f1f1"}]},{"featureType":"landscape.natural","elementType":"geometry.fill","stylers":[{"visibility":"on"},{"color":"#aae0dc"}]},{"featureType":"poi","elementType":"geometry.fill","stylers":[{"visibility":"on"},{"hue":"#1900ff"},{"color":"#8EF1DD"}]},{"featureType":"road","elementType":"geometry","stylers":[{"lightness":100},{"visibility":"simplified"},{"color":"#1bf9c7"}]},{"featureType":"road","elementType":"labels","stylers":[{"visibility":"off"},{"saturation":"0"}]},{"featureType":"road.highway","elementType":"geometry.fill","stylers":[{"weight":"2"},{"saturation":"2"}]},{"featureType":"road.highway","elementType":"labels","stylers":[{"visibility":"on"},{"hue":"#00ffff"},{"lightness":"-18"}]},{"featureType":"road.local","elementType":"all","stylers":[{"visibility":"simplified"},{"gamma":"0.00"},{"saturation":"-4"},{"weight":"0.96"},{"color":"#0f857b"}]},{"featureType":"transit","elementType":"all","stylers":[{"visibility":"on"}]},{"featureType":"transit.line","elementType":"geometry","stylers":[{"lightness":700},{"visibility":"on"},{"weight":"1"}]},{"featureType":"water","elementType":"all","stylers":[{"color":"#73D4C0"}]}];

            var options = {
              mapTypeId: google.maps.MapTypeId.road,
              zoom: 13,
              scrollwheel: false,
              navigationControl: false,
              mapTypeControl: false,
              center: {
                  lat: 0,
                  lng: 0
              },
              styles: styles
            }; 

           var map = new google.maps.Map(document.getElementById('map'), options );

            var geocoder = new google.maps.Geocoder();



           geocoder.geocode({
              'address': address1
           },

           function(results, status) {
              if(status == google.maps.GeocoderStatus.OK) {
                 new google.maps.Marker({
                    position: results[0].geometry.location,
                    map: map
                 });
                 bounds.extend(results[0].geometry.location);
                map.fitBounds(bounds);
              }
           });

           var geocoder2 = new google.maps.Geocoder();

           geocoder2.geocode({
              'address': address2
           },

           function(results, status) {
              if(status == google.maps.GeocoderStatus.OK) {
                 new google.maps.Marker({
                    position: results[0].geometry.location,
                    map: map
                 });
                 bounds.extend(results[0].geometry.location);
                  map.fitBounds(bounds);
              }
           });

           google.maps.event.addDomListener(window, "resize", function() {
             var center = map.getCenter();
             google.maps.event.trigger(map, "resize");
             map.setCenter(center); 
            });

      </script>
    </body>
</html>