<footer>
    <div class="footer-contain fade container-fluid wrap">
       
        <div class="row footer-lower wrap ">
            <div class="col-xs-12 col-sm-3 item" style="padding-top:0;">
                <a href="/"><img src="resources/img/logo.svg" alt=""></a>
                [[#1.tv.applogo:notempty=`<br><br><br><a href="http://www.safepiercing.org/" target="_blank"><img width="150" src="[[#1.tv.applogo]]" alt=""></a>`]]
            </div>
            <div class="col-xs-12 col-sm-2 item">
                <h4>Hours</h4>
                <ul>
                    [[!getImageList?
                    &docid=`1`
                    &tvname=`hours`
                    &tpl=`hours`
                    ]]
                </ul>

            </div>
            <div class="col-xs-12 col-md-4 item">
                <h4>Contact</h4>
                <ul>
                    <li class="cf">
                        <div class="footer-link row">
                            <div class="col-xs-2"><i class="fa fa-map-marker"></i></div>
                            <div class="col-xs-10">
                                <p>[[#1.tv.street]] [[#1.tv.city]]</p>
                                <hr style="margin:5px 0; border-color:#454545">
                                <p>[[#1.tv.phone]]</p>
                                <br>
                            </div>
                        </div>
                                
                        
                    </li>
                    <li class="cf">
                        <div class="footer-link row">
                            <div class="col-xs-2"><i class="fa fa-map-marker"></i></div>
                            <div class="col-xs-10">
                                <p>5525 Mills Civic Parkway, Suite 125 West Des Moines, IA 50266</p>
                                <br>
                            </div>
                        </div>
                                
                        
                    </li>
                    <li class="cf">
                        <div class="footer-link row">
                            <div class="col-xs-2">
                                <i class="fa fa-envelope-o"></i>
                            </div>
                            <div class="col-xs-10">
                                <p><a href="mailto:[[#1.tv.email]]">[[#1.tv.email]]</a></p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-xs-12 col-md-3 item">
                <h4>Follow</h4>
                <ul>
                    [[#1.tv.facebook:notempty=`
                    <li class="cf">
                        <div class="footer-link row">
                            <div class="col-xs-2">
                                <i class="fa fa-facebook"></i>
                            </div>
                            <div class="col-xs-10">
                                <p><a target="_blank" href="[[#1.tv.facebook]]">Facebook</a></p>
                            </div>
                        </div>
                        
                    </li>`]]
                    [[#1.tv.twitter:notempty=`
                    <li class="cf">
                        <div class="footer-link row">
                            <div class="col-xs-2"><i class="fa fa-twitter"></i></div>
                            <div class="col-xs-10"><p><a target="_blank" href="[[#1.tv.twitter]]">Twitter</a></p></div>
                        </div>
                    </li>`]]
                    [[#1.tv.instagram:notempty=`
                    <li class="cf">
                        <div class="footer-link row">
                            <div class="col-xs-2"><i class="fa fa-instagram"></i></div>
                            <div class="col-xs-10">
                                <p><a target="_blank" href="[[#1.tv.instagram]]">Instragram</a></p>
                            </div>
                        </div>
                    </li>`]]
                    [[#1.tv.pinterest:notempty=`
                    <li class="cf">
                        <div class="footer-link row">
                            <div class="col-xs-2"><i class="fa fa-pinterest"></i></div>
                            <div class="col-xs-10">
                                <p><a target="_blank" href="[[#1.tv.pinterest]]">Pinterest</a></p>
                            </div>
                        </div>
                    </li>`]]
                    [[#1.tv.tumblr:notempty=`
                    <li class="cf">
                        <div class="footer-link row">
                            <div class="col-xs-2"><i class="fa fa-tumblr"></i></div>
                            <div class="col-xs-10">
                            <p><a target="_blank" href="[[#1.tv.tumblr]]">Tumblr</a></p>
                            </div>
                        </div>
                    </li>`]]
                </ul>
            </div>
        </div>

    </div>
</footer>