<div class="navigation">
    <div class="container-fluid wrap">
        <div class="row">
            <div class="col-xs-6 col-sm-4">
                <a href="/"><img src="resources/img/logo.svg" alt=""></a>
            </div>
            <div class="col-xs-6 col-sm-6 col-sm-push-2">
                <div class="hiddenNav">
                    <div class="mobileButton" id="toggle">
                      <i class="fa fa-bars"></i>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="navOverlay" id="overlay">
  <nav>
    [[$navigation]]
</nav>
</div>