<meta property="og:title" content="[[*pagetitle]]" />
<meta property="og:type" content="article" />
<meta property="article:published_time" content = "[[*publishedon:strtotime:date=`%b %d, %Y`]]" />
<meta property="og:description" content="[[*description:isequal=``:then=`[[*content:striptags:ellipsis=`150`]]`:else=`[[*description]]`]]" />        
<meta property="og:url" content="[[++site_url]]"/>
<meta property="og:image" content="[[#1.tv.ogimage:phpthumbof=`w=1200&h=630&zc=1`]]" />
<meta property="og:site_name" content="[[++site_name]]" />

<!-- Canonical URL for CMS SEO -->
<link rel="canonical" href="[[++site_url]][[~[[*id]]]]" />