<!-- Facebook OpenGraph Data -->
<meta property="og:title" content="[[*longtitle:isequal=``:then=`[[++site_name]] | [[*pagetitle]]`:else=`[[*longtitle]]`]] " />
<meta property="og:type" content="website" />
<meta property="og:description" content="[[*description:isequal=``:then=`[[#1.description]]`:else=`[[*description]]`]]" />        
<meta property="og:url" content="[[~[[*id]]]]"/>
<meta property="og:image" content="[[++site_url]][[#1.tv.ogimage]]" />
<meta property="og:site_name" content="[[++site_name]]" />

<!-- Canonical URL for CMS SEO -->
<link rel="canonical" href="[[++site_url]][[~[[*id]]]]" />