<li><a href="[[++social_facebook]]" target = "blank"><i class="fa fa-facebook"></i></a></li>
<li><a href="[[++social_twitter]]" target = "blank"><i class="fa fa-twitter"></i></a></li>
<li><a href="[[++social_instagram]]" target = "blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
<li><a href="[[++social_flickr]]" target = "blank"><i class="fa fa-flickr" aria-hidden="true"></i></a></li>