
<form class="main-form container-fluid contact-form" method="post" action="assets/snippets/send_the_form.php" id="contactForm">

  <input type = "hidden" name = "send_the_form" value = "true" />
  <input type = "hidden" name = "options[subject]" value = "Contact Form" />
  <input type = "hidden" name = "options[to]" value = "Justin" />
  <input type = "hidden" name = "options[ajax]" value = "false" />
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <label for="first_name">First Name<sup>*</sup></label>
      <input type="text" id="first_name" class="required" name="first_name"  placeholder="Jonathan">
    </div>
    <div class="col-xs-12 col-sm-6">
      <label for="last_name">Last Name<sup>*</sup></label>
      <input type="text" id="last_name"  class="required"name="last_name"  placeholder="Doe">
    </div>
  </div>
  <div class="row">
   <div class="col-xs-12">
    <label for="email">Email Address<sup>*</sup></label>
    <input type="text" id="email" name="email" class="required"  placeholder="jon@doe.com">
  </div>
  <div class="col-xs-12">
    <label for="phone">Phone<sup>*</sup></label>
    <input type="text" id="phone" name="phone" class="required"  placeholder="999-999-9999">
  </div>
  <div class="col-xs-12">
    <label for="method">Method of Contact<sup>*</sup></label>

    <select name="Preferred Method" id="method">
        <option value="Default" disabled selected>Preferred Contact</option>
        <option value="Phone">Phone</option>
        <option value="Email">Email</option>
    </select>
    <label for="Message">Message</label>
    <textarea row="10"  id="message" name="message"></textarea>
    <input type="submit" class="button" data-form = "#contactForm"  value="Submit" />

  </div>
</div>
<input type="text" name = "MY_La_st__Na_me" id = "spam_check" value="" class="input" style = "position:absolute; top: -9999px;"/>
</form>

