 [[!FormIt?
       &hooks=`spam, email`
       &emailFrom=`[[++primary_email]]`
       &emailTpl=`snt_from`
       &emailTo=`justin.lobaito@weloideas.com, [[++primary_email]]`
       &emailSubject=`Contact Form Submission`
       &validate=`phone:required, state:required, first_name:required, last_name:required, city:required, address:required, email:required, email:email, comments:required:stripTags, nospam:blank`
      &successMessage=`<div class="alert alert-success">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <h3>Thank you for getting in contact with us.</h3>
      <p>A [[++site_name]] representative will get in contact with you shortly</p>
    </div>`
    ]]

   [[!+fi.validation_error_message:!empty=`


<div class="alert alert-error">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
		<div>
		      <strong><h3>Please review the following errors:</h3></strong>
		            [[!+fi.error.first_name:!empty=`<p>First Name is required</p>`]]
		            [[!+fi.error.last_name:!empty=`<p>Last Name is required</p>`]]
		            [[!+fi.error.email:!empty=`<p>Email Address is required</p>`]]
		            [[!+fi.error.phone:!empty=`<p>Phone Number is required</p>`]]
		            [[!+fi.error.address:!empty=`<p>Address is required</p>`]]
		            [[!+fi.error.city:!empty=`<p>City is required</p>`]]
		            [[!+fi.error.state:!empty=`<p>State is required</p>`]]
					[[!+fi.error.comments:!empty=`<p>Additional Comments is required</p>`]]

		</div>
</div>


`]]
    [[!+fi.successMessage]]


                   <form class="main-form row" action="[[~[[*id]]]]" method="post"  >
                        
                            <div class="col-sm-6">
                                <input type="text" value="[[!+fi.first_name]]" id="first_name" name="first_name"  placeholder="First Name">
                            </div>
                            <div class="col-sm-6">
                                <input type="text" value="[[!+fi.last_name]]" id="last_name" name="last_name"  placeholder="Last Name">
                            </div>
                            <div class="col-xs-12">
                            <input type="text" value="[[!+fi.email]]" id="email" name="email"   placeholder="Email">
                            <input type="text" value="[[!+fi.phone]]" id="phone" name="phone"   placeholder="Phone Number">
                            <select name="Preferred Method" id="">
                                <option value="Default" disabled selected>Preferred Contact</option>
                                <option value="Phone">Phone</option>
                                <option value="Email">Email</option>
                            </select>
                            
                            <input value="[[!+fi.nospam]]" type="text" id="nospam" name="nospam" class="nospam">
                            
                            <textarea value="[[!+fi.comments]]" placeholder="message" id="comments" name="comments"></textarea>
                            <input type="submit" class="button" value="Submit" />
                            </div>
                            
                    </form>
                  