[[+first_name]] [[+last_name]] left you the message below from [[++site_name]]: <br />
<br />
[[+phone:notempty=`Phone Number: [[+phone]]<br />`]]
[[+address:notempty=`Address: [[+address]]<br />`]]
[[+city:notempty=`City: [[+city]]<br />`]]
[[+state:notempty=`State: [[+state]]<br />`]]
[[+zip:notempty=`Zip: [[+zip]]<br />`]]
<br />


<strong>[[+comments]]</strong><br /><br />

You can respond to [[+first_name]] [[+last_name]] by email at <a href="mailto:[[+email]]">[[+email]]</a> [[+phone:notempty=`or by phone at [[+phone]]`]]<br><br>

<p style="color:red">Do not reply to this email</p>