<section class="about bg-right intro" style="background-image:url('assets/media/[[!+background-image]]')">
		<div class="container-fluid wrap">
			<div class="row">
				<div class="col-xs-12 col-sm-7 content-animate">
					[[!+title:notempty=`<div class="row">
						<div class="col-xs-12">
							<h1>[[!+title]]</h1>
						</div>
					</div>`]]
					<div class="row">
						<div class="col-xs-12 [[!+title:notempty=`col-sm-11 col-sm-offset-1`]]">
							[[!+content]]
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>