<section class="about bg-[[!+alignment]] intro" style="background-image:url('assets/media/[[!+background-image]]')">
		<div class="container-fluid wrap">
			<div class="row">
				<div class="col-xs-12 col-sm-5">
					<h1>[[!+pagetitle]]</h1>
				</div>
				<div class="col-xs-12 col-sm-7 content-animate" >
					<div class="row">
						<div class="col-xs-12 content-animate">
							[[!+headline:notempty=`<div class="row">
								<div class="col-xs-12">
									[[!+headline]]
								</div>
							</div>`]]
							<div class="row">
								<div class="col-xs-12 [[!+headline:notempty=`col-sm-11 col-sm-offset-1`]]">
									[[!+content]]
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>