[[!+intro-display:isequal=`display`:then=`
    [[$intro]]
`:else=``]]

[[!+content-right-display:isequal=`display`:then=`
    [[$content-right]]
`:else=``]]

[[!+content-left-display:isequal=`display`:then=`
    [[$content-left]]
`:else=``]]

[[!+callout-display:isequal=`display`:then=`
    [[$callout]]
`:else=``]]

[[!+product-grid-display:isequal=`display`:then=`
    [[$product-grid]]
`:else=``]]

[[!+custom-piece-display:isequal=`display`:then=`
    [[$custom-piece]]
`:else=``]]

[[!+product-block-display:isequal=`display`:then=`
    [[$product-block-left]]
`:else=``]]

[[!+product-block-right-display:isequal=`display`:then=`
    [[$product-block-right]]
`:else=``]]

[[!+brands-display:isequal=`display`:then=`
    [[$brands]]
`:else=``]]

[[!+carousel-display:isequal=`display`:then=`
    [[$carousel]]
`:else=``]]

[[!+large-intro-display:isequal=`display`:then=`
    [[$large-intro]]
`:else=``]]

[[!+main-content:notempty=`
    <section class="content [[!+background-color:notempty=`gray`]]">
        <div class="container-fluid wrap">
            <div class="row">
                <div class="col-xs-12 main-content">
                   [[!+main-content]]
                </div>
            </div>
        </div>
    </section>
`]]

[[!+two-column-content-display:isequal=`display`:then=`
    [[$two-column-content]]
`]]

[[+process-display:isequal=`display`:then=`
    [[$process]]
`:else=``]]

[[!+staff-display:isequal=`display`:then=`
    [[$staff]]
`:else=``]]



