<section class="content">
        <div class="container-fluid wrap content">
            [[!+content-heading:notempty=`<div class="row">
                <div class="col-xs-12">
                    <h2>[[!+content-heading]]</h2>
                </div>
            </div>`]]
            <div class="row">
                <div class="col-xs-12 main-content">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 content-animate">
                           [[!+left-content]]
                                    
                        </div>
                        <div class="col-xs-12 col-sm-6 content-animate">
                           [[!+right-content]]
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>