

<li>
	<a class="fancybox" rel="group" href="[[+image:phpthumbof=`w=800&h=800&zc=1`]]" >
	    <img class="thumb" data-original="[[+image:phpthumbof=`w=800&h=800&zc=1`]]" src="[[+image:phpthumbof=`w=500&h=375&zc=1`]]"  />
	</a>
</li>