@font-face {
    font-family: Arquitecta;
	src: url("/resources/fonts/heavy/ArquitectaHeavy-webfont.eot?#iefix") format("eot"), url("/resources/fonts/heavy/ArquitectaHeavy-webfont.woff2") format("woff2"), url("/resources/fonts/heavy/ArquitectaHeavy-webfont.woff") format("woff"), url("/resources/fonts/heavy/ArquitectaHeavy-webfont.ttf") format("truetype"), url("/resources/fonts/heavy/ArquitectaHeavy-webfont.svg") format("svg");
    font-weight: 800;

}

@font-face {
    font-family: Arquitecta;
	src: url("/resources/fonts/medium/ArquitectaMedium-webfont.eot?#iefix") format("eot"), url("/resources/fonts/medium/ArquitectaMedium-webfont.woff2") format("woff2"), url("/resources/fonts/medium/ArquitectaMedium-webfont.woff") format("woff"), url("/resources/fonts/medium/ArquitectaMedium-webfont.ttf") format("truetype"), url("/resources/fonts/medium/ArquitectaMedium-webfont.svg") format("svg");
    font-weight: 600;

}

@font-face {
    font-family: Arquitecta;
	src: url("/resources/fonts/regular/Arquitecta-webfont.eot?#iefix") format("eot"), url("/resources/fonts/regular/Arquitecta-webfont.woff2") format("woff2"), url("/resources/fonts/regular/Arquitecta-webfont.woff") format("woff"), url("/resources/fonts/regular/Arquitecta-webfont.ttf") format("truetype"), url("/resources/fonts/regular/Arquitecta-webfont.svg") format("svg");
    font-weight: 400;

}

@font-face {
    font-family: Arquitecta;
	src: url("/resources/fonts/light/ArquitectaLight-webfont.eot?#iefix") format("eot"), url("/resources/fonts/light/ArquitectaLight-webfont.woff2") format("woff2"), url("/resources/fonts/light/ArquitectaLight-webfont.woff") format("woff"), url("/resources/fonts/light/ArquitectaLight-webfont.ttf") format("truetype"), url("/resources/fonts/light/ArquitectaLight-webfont.svg") format("svg");
    font-weight: 100;

}
