.og-grid {
	list-style: none;
	padding: 20px 0;
	margin: 0 auto;
	text-align: center;
	width: 100%;
}

.og-grid li {
	display: inline-block;
	margin: 10px 50px 0 50px;
	vertical-align: top;
	height: 250px;
	margin-bottom: 2em;
	@include viewport(sm){
		margin-bottom: 0;
	}

}

.og-grid li > a,
.og-grid li > a img {
	border: none;
	outline: none;
	display: block;
	position: relative;
}

.og-grid li.og-expanded > a::after {
	top: auto;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-bottom-color: #1cf9c8;
	border-width: 15px;
	left: 50%;
	margin: -20px 0 0 -15px;
}

.og-expander {
	position: absolute;
	background: #1cf9c8;
	top: auto;
	left: 0;
	width: 100%;
	margin-top: 10px;
	text-align: left;
	height: 0;
	overflow: hidden;
}

.og-expander-inner {
    padding: 80px 30px;
    height: 100%;
    width: 90%;

    @include viewport(sm){
    width: 100%;

    }
    @include viewport(md){
    width: 70%;

    }
    margin: auto;
}

.og-close {
	position: absolute;
	
	top: 30px;
	right: 30px;
	cursor: pointer;
}


.og-close::after {
	content: "\f00d";
    font: normal normal normal 35px/1 FontAwesome;
    margin-right:1em;
    color:#28947a;
}

.og-fullimg,
.og-details {
	width: 50%;
	float: left;
	height: 100%;
	overflow: hidden;
	position: relative;
}

.og-details {
	padding: 0 40px 0 20px;
}

.og-fullimg {
	text-align: center;
}

.og-fullimg img {
	display: inline-block;
	max-height: 100%;
	max-width: 100%;
}

.og-details h3 {
	font-weight: 300;
	font-size: 52px;
	padding: 40px 0 10px;
	margin-bottom: 10px;
}

.og-details p {
	font-weight: 400;
	font-size: 19px;
	line-height: 22px;
	color: #999;
}

.og-details h4 {
	margin-top: 10px;
}

.og-details a {
	font-weight: 700;
	font-size: 16px;
	color: #333;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding: 10px 20px;
	border: 3px solid #333;
	display: inline-block;
	margin: 30px 0 0;
	outline: none;
}

.og-details a::before {
	content: '\2192';
	display: inline-block;
	margin-right: 10px;
}

.og-details a:hover {
	border-color: #999;
	color: #999;
}

.og-loading {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #1cf9c8;
	box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ccc;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -25px 0 0 -25px;
	-webkit-animation: loader 0.5s infinite ease-in-out both;
	-moz-animation: loader 0.5s infinite ease-in-out both;
	animation: loader 0.5s infinite ease-in-out both;
}

@-webkit-keyframes loader {
	0% { background: #1cf9c8; }
	33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #1cf9c8; }
	66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #1cf9c8, -15px 30px 1px #ccc; }
}

@-moz-keyframes loader {
	0% { background: #1cf9c8; }
	33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #1cf9c8; }
	66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #1cf9c8, -15px 30px 1px #ccc; }
}

@keyframes loader {
	0% { background: #1cf9c8; }
	33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #1cf9c8; }
	66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #1cf9c8, -15px 30px 1px #ccc; }
}

@media screen and (max-width: 830px) {

	.og-expander h3 { font-size: 32px; }

}

@media screen and (max-width: 650px) {

	.og-fullimg { display: none; }
	.og-details { float: none; width: 100%; }
	
}