* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body,html {
  overflow-x: hidden;
}


.cf {
  &:before,&:after {
    content: " "; 
    display: table; 
  }
  &:after {
    clear: both;
  }
}

.flex-direction-nav a:before {
  content:url(/resources/img/arrow-left.png);
}

.flexslider, .flexslider:hover{
   .flex-direction-nav a {
    opacity:1;
  }
}


.flexslider .flex-direction-nav .flex-prev {
  left:10px;
}

.flexslider .flex-direction-nav .flex-next {
  right:10px;
}
.flex-direction-nav a.flex-next:before {
  content:url(/resources/img/arrow-right.png);
}



.flex-direction-nav a {
  height:auto;
  width:auto;
}

.process-list {
  h5 {
    font-size: 140px;
    margin: 0;
    color:#e9e9e9;
    margin-top: -26%;
    font-weight:700;
    margin-bottom: .125em;

  }
  p {
    width:80%;
  }
  .img-contain {
    position: relative;
    border-radius:90px;
    width:170px;
    height:170px;
    overflow: hidden;
    img{
      position:absolute;
      left:0;
      top:0;
      height:100%;
    }
  }

  .item {
    margin-bottom: 5em;
    &:nth-child(odd){
      float:right;
    }
  }
}

.carousel {
  padding:0;
  li {
    margin: 0;
  }
  .flexslider {
    margin: 0;
    border:0;
  }
}


.staff {
  .og-grid {
    padding-bottom: 5em;
    &.expanded {
      padding-bottom: 0;
    /*  .og-expanded {
        margin-bottom: 6em;
      }
      .og-expander {
        @media (max-width:767px){
          height:auto !important;
        }
      }*/
    }
  }
      padding-bottom: 0;
    position: relative;
    z-index: 3;
  .og-expander {
    h3 {
      text-transform: uppercase;
      font-size: 45px;
      font-weight: 800;
      margin-bottom: 0;
      padding-bottom: 0;

    } 
    p {
      color:#454545;
    }
    h4 {
      text-transform: uppercase;
      font-size: 24px;
    }
    h3,h4 {
      color:#28947a;
    }
  }
  .name {
    text-transform: uppercase;
    font-size: 20px;
    line-height: 1;
    margin-top: 1em;
    span {
      font-weight: 100;
      font-size: 60%;
    }
  }
  .img-contain {
    position: relative;
    border-radius:90px;
    width:170px;
    height:170px;
    overflow: hidden;
    img{
      position:absolute;
      left:0;
      top:0;
      height:100%;
    }
  }
}

.process {
  padding-top: 6em;
  padding-bottom: 6em;
}
 
img.absolute {
  position: absolute;
}

/* Custom Piece */
.custom-piece {
  padding:6em 2em 15em;
  position: relative;
  z-index:1;
  img {
    right: -90px;
    bottom: -60px;
  }
  @include viewport(sm){
    padding:8em 2em;
  }
  @include viewport(md){
    padding:10em 0;
  }
  
}

.teal {
  background: $secondary;
  h2 {
    font-weight:800;
    text-transform:uppercase;
  }
  * {
    color:$custom;
  }
  p {
    color:#454545;
  }
  a.button {
    color:$custom;
    border-color:$custom;
    &:hover {
      color:lighten($custom,10);
      border-color:lighten($custom,10);
    }
  }
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}
/* RESPONSIVE IMAGES */

img {
  max-width: 100%; // Make images inherently responsive
  height: auto; // Adds support for images whose dimensions are defined inline
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;

  .lt-ie9 & {
    width: auto;
  } 
}


section[class*="bg-"]{
  @include viewport(md){
    padding:8em 0em;
  }
}

.bg-left {
  background-position: left center;
  background-size:auto 100%;;
  background-repeat: no-repeat;
}

.bg-right {
  background-position: right center;
  background-size:auto 100%;;
  background-repeat: no-repeat;
}


.hero {
  background-size: cover;
  background-position: center;
  position: relative;
  p {
    color:white;
  }
}

.home {
  .navigation {
    .col-xs-6.col-sm-4 {
      a {
        img {
          max-width:43%;
        }
      }
    }
  }
  .hero {
    h1 {
      color:$purple;
    }
    padding:20em 2em 10em;
    @include viewport(sm){
      padding:18em 2em 12em;
    }

    @include viewport(md){
      padding:29em 0 16em;
    }
  }
}

.no-guter {
  margin: 0;
  padding: 0;
  .section-pad {
    @extend .section-pad;
  }
  div:not(.form) {
    margin: auto;
    padding: 0;
    .form {
      div[class*="col-"]{
        padding-left:15px;
        padding-right:15px;
      }
    }
  }
}

.product-block {
  img {
    width:100%;
  }
}
/* MAIN */

section {
  @extend .cf !optional;
  padding:2em;
  @include viewport(sm){
    padding:4em 2em;
  }

  @include viewport(md){
    padding:4em;
  }
    
}

.wrap {
  max-width: 940px;
  margin: auto;
    &:before, &:after {
      content:"";
      display:table;
    }

    &:after {
      clear:both;
    }

}

.content-animate {
  visibility:hidden;
}

.small-wrap {
  @include viewport(md){
    max-width:800px;
    margin:auto;
    width:100%;
  }
}

/* Product Grid */

.section-pad {
  padding:3em;
}

.center {
  text-align: center;
}

.product-grid {
  .button {
    margin:1em 0;
  }
  img{
    width:100%;
  }
}

.col-sm-4.item {
  padding:2em;
}


section[class*="bg-"]{
  @media (max-width:768px) {
    background-image:none !important;

  }
}

/* FOOTER */

footer {
  div[class*="col"]{
    margin-bottom: 2em;
    @include viewport(sm){
      margin-bottom: 0;
    }
  }
  li {
    margin-bottom: 3px;
  }
  a,p {
      margin-bottom: 0;
      color:$primary;
      font-size: 16px;
      &:visited {
        color:$primary;
      }
    }
    a:hover {
      color:lighten($primary,10);
    }
  .contain {
    width:6%;
    float:left;
    margin-right:5%;
    margin-top:-3px;
  }
  .footer-link {
    width:100%;
    float:left;

    
  }
  h4 {
    font-size: 30px;
    margin-bottom: .5em;
  }
  background: #9b9b9b;
  padding:2em;
  padding-top: 10em;
  @include viewport(sm){
    padding:4em 2em;
  }
  @include viewport(md){
    padding:4em 0;
  }
  .footer-lower {
    margin-top:3em;
  }
}

footer {
  i {
    color:$secondary;
    width:20px;
  }
}

/* BUTTON */






/* Callout */
.callout {
  padding:2em;
  @include viewport(sm){
    padding:6em 2em;
  }
  @include viewport(md){
    padding:10em 0;
  }
  .left {
    @include viewport(sm){
    margin-left: 41.66667%;
    }
  }
}

.interior {
  h1 {
    color:$purple;
  }
  .navigation {
    .col-xs-6.col-sm-4 {
      a {
        img {
          max-width: 50%;
        }
      }
    }
    position: relative;
    padding-top:2em;
    padding-bottom: 2em;
    background-image:url('/resources/img/interior_bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    .hiddenNav {
      @include viewport(sm){
        top:16px;

      }
    }
  }
}

a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
    display:none;
}
.gmnoprint div {
    background:none !important;
}

.purple {
  padding-top:8em;
  padding-bottom: 8em;
  h1,h2,h3,h4 {
    color:#ae5be7;
  }
  h1 {
    font-size: 40px;
    margin-bottom: 1em;
  }
  background: $purple;
}
#map {
  height:400px;
}
#map,.form-container {
  @include viewport(sm){
  height:700px;

  }
}
.map-contain {
  position: relative;
}

.map-overlay {
  position: absolute;
  width:100%;
  height:100%;
  z-index: 1000;
  @include viewport(sm){
    display: none;
  }
}

.form-container {
  display: table;
  .form {
    display:table-cell;
    vertical-align:middle;
  }
}

.no-guter {
  .form-container {
    padding:2em 4em !important;
  }
}

.form {
  input {
    margin-bottom: 1em;
  }
}