.mainnav {
@include transition(all .5s);
	ul{
		float:right;
		li {
			float:left;
			a {
				padding:1em;
			}
		}
	}
}

.home {
  .navigation {
    .col-sm-4 {
      a {
        position: absolute;
        z-index: 2;
        width: 100%;  
      }
    }
  }
}


.navigation {
  position: absolute;
  top:10%;
  width:100%;
}

.mouse {
  position: absolute;
  width: 22px;
  height: 42px;
  bottom: 40px;
  left: 50%;
  margin-left: -12px;
  border-radius: 15px;
  border: 2px solid white;
  -webkit-animation: intro 1s;
  animation: intro 1s;
}
.scroll {
  display: block;
  width: 3px;
  height: 3px;
  margin: 6px auto;
  border-radius: 4px;
  background: white;
  -webkit-animation: finger 1s infinite;
  animation: finger 1s infinite;
}

.bg-right {
  @include viewport(sm){
    padding-right:0;
  }
}

.bg-left {
  @include viewport(sm){
    padding-left:0;
  }
}



$color-screen: $secondary;
$color-background: darken($color-screen, 10%);
$color-main: $secondary;
$color-active: #fff;

$screen-height: 560px;
$screen-width: 320px;
$button-height: 22px;
$button-width: 30px;
$navbar-height: 60px;
$item-height: ($screen-height - $navbar-height) / 5;


.hiddenNav {
	z-index: 100000;
    position: absolute;
    right: 10%;
    @include viewport(sm){
      top:20px;
    }
}

html.open {
  height:100%;
  overflow:hidden;
  .hiddenNav {
    i {
      color:white;
      &:before {
            content: "\f00d";
}
      }
    }
  }

.mobileButton {
  float:right;
  text-align: right;
  cursor: pointer;
  @include transition(.3s all);
  
  i {
    color:white;
    font-size: 35px;
  }
}

.navOverlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  opacity: 0;
  background: $color-main;
  border-radius: 5px;
  transition: opacity .35s ease, visibility .35s ease, width .35s ease;
  visibility: hidden;
  z-index: 499;
  
  &.open {
    @include opacity(1);
    visibility: visible;
    width: 100%;
    
    li {
      animation: menuFade .5s ease forwards;
      animation-delay: .35s;
      
      &:nth-of-type(2) {
        animation-delay: .4s;
      }
      &:nth-of-type(3) {
        animation-delay: .45s;
      }
      &:nth-of-type(4) {
        animation-delay: .5s;
      }
    }
  }
  nav {
    position: relative;
    height: 80%;
    top: 56%;
    transform: translateY(-40%);
    font-size: 34px;
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 400;
    text-align: center;
  }
   ul {
     list-style: none;
     padding: 0;
     margin: 0 auto;
     display: inline-block;
     position: relative;
     height: 100%; 
     
     li {
      text-transform: uppercase;
      font-family: $heading;
      display: block;
      height: 10%;
      height: calc(100% / 10);
      min-height: 34px;
      position: relative;
      opacity: 0;
       
       a {
         display: block;
         position: relative;
         color: $color-active;
         text-decoration: none;
         overflow: hidden;
        font-size: 34px;
         &:hover:after,
         &:focus:after,
         &:active:after {
           width: 100%;
         }
        
         &:after {
           content: '';
           position: absolute;
           bottom: 0;
           left: 50%;
           width: 0%;
           transform: translateX(-50%);
           height: 3px;
           background: $color-active;
           transition: .35s;
         }
       }
     }
   }
}

@keyframes menuFade {
  0% {
    opacity: 0;
    left: -25%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}



