body {
  font: 100%/1.5 $body;
  color: $neutral;
}

/* HEADINGS */

h1, h2, h3, h4, h5 {
  font-family: $heading;
  color: $primary;
  line-height: .8;
  margin:0 0 .5em 0;
}

h1 {
  font-size: 50px;
  @include viewport(sm){
    font-size: 80px;
  }
  font-weight: 800;
  color: $secondary;
  text-transform: uppercase;
}

h2 {
  color:$secondary;
  font-size: 40px;
  @include viewport(sm){
    font-size: 50px;
  }
  font-weight: 100;
  margin-bottom: .5em;
}

/* PARAGRAPH */

p,li {
  font-family: $body;
  line-height: 1.4;
  color:$primary;
  font-size: 19px;
}

p {
  margin-bottom: 1em;
}
a {
  color:$link;
  @include transition(all .3s);
  text-decoration: none;
  &:hover {
    color:$hover;
    text-decoration: none;
  }
}

/* LISTS */
ul {
  padding:0;
  list-style: none;
}

a.button {
  border-radius:90px;
  padding:8px 35px;
  text-transform: uppercase;
  border:solid 1px $button;
  color:$button;
  display: inline-block;
  font-size: 18px;
  @include viewport(sm){
    font-size: 34px;
  }
  &:hover {
    color:$secondary;
    border-color:$secondary;
  }

}

p.button {
  cursor:pointer;
  a {
    @extend a.button
  }
}

div.button {
  @extend a.button
}



button.button {
  @extend a.button
}

.main-form input.button {
  @extend a.button;
  background:none;
  width:auto;
  margin:1em 0;
  font-size: 18px;

}

.content {
  a.button, p.button a {
    font-size: 24px;
    margin:1em 0;
  }
}
