// COLOR PALETTE
$primary: #454545;
$secondary: #2ee6bd;
$hover: #505050;
$neutral: #011F40;
$highlight: #306DB1;
$ultralight: #537FB1;
$link: $secondary;
$purple: #672893;
$button: #b9b9b9;
$custom:#28947a;
$purple: #672893;
// FONT STACKS
$heading: Arquitecta;
$body:Arquitecta;

