[[$doc_head]]
<body class="home">
	[[$header]]
	<section class="hero" style="background-image:url('[[*header_image]]')">
		<div class="container-fluid wrap">
			<div class="row">
				<div class="col-xs-12 col-sm-7">
					<div class="row">
						<div class="col-xs-12">
							[[*headline]]
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12 col-sm-11 col-sm-offset-1">
							[[*content]]
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="mouse">
			<div class="scroll"></div>
		</div>
	</section>
	[[!getImageList?
	  &tvname=`page-builder`
	  &tpl=`pagebuilder`
	]]
	[[$footer]]
	[[$doc_footer]]